<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tap.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRestaurant</display-name>
    <servlet-name>GetRestaurant</servlet-name>
    <servlet-class>com.tap.servlet.GetRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRestaurant</servlet-name>
    <url-pattern>/GetRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMenu</display-name>
    <servlet-name>ShowMenu</servlet-name>
    <servlet-class>com.tap.servlet.ShowMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenu</servlet-name>
    <url-pattern>/ShowMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.tap.servlet.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpadateCartServlet</display-name>
    <servlet-name>UpadateCartServlet</servlet-name>
    <servlet-class>com.tap.servlet.UpadateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpadateCartServlet</servlet-name>
    <url-pattern>/UpadateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartController</display-name>
    <servlet-name>RemoveCartController</servlet-name>
    <servlet-class>com.tap.servlet.RemoveCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartController</servlet-name>
    <url-pattern>/RemoveCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartController</display-name>
    <servlet-name>ClearCartController</servlet-name>
    <servlet-class>com.tap.servlet.ClearCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartController</servlet-name>
    <url-pattern>/ClearCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.tap.servlet.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRestaurantHome1</display-name>
    <servlet-name>GetRestaurantHome1</servlet-name>
    <servlet-class>com.tap.servlet.GetRestaurantHome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRestaurantHome1</servlet-name>
    <url-pattern>/GetRestaurantHome1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>com.tap.servlet.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperAdminServlet</display-name>
    <servlet-name>SuperAdminServlet</servlet-name>
    <servlet-class>com.tap.servlet.SuperAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperAdminServlet</servlet-name>
    <url-pattern>/SuperAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRestaurantServlet</display-name>
    <servlet-name>addRestaurantServlet</servlet-name>
    <servlet-class>com.tap.servlet.addRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRestaurantServlet</servlet-name>
    <url-pattern>/addRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.tap.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantAdmin</display-name>
    <servlet-name>RestaurantAdmin</servlet-name>
    <servlet-class>com.tap.servlet.RestaurantAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantAdmin</servlet-name>
    <url-pattern>/RestaurantAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMenuServlet</display-name>
    <servlet-name>addMenuServlet</servlet-name>
    <servlet-class>com.tap.servlet.addMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMenuServlet</servlet-name>
    <url-pattern>/addMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.tap.servlet.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderItemsHistory</display-name>
    <servlet-name>ViewOrderItemsHistory</servlet-name>
    <servlet-class>com.tap.servlet.ViewOrderItemsHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderItemsHistory</servlet-name>
    <url-pattern>/ViewOrderItemsHistory</url-pattern>
  </servlet-mapping>
</web-app>